
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Resources
@model ServiceModels.ServiceCommandAnswers.NoticesCommandAnswers.GetClinicNoticesPageInformationCommandAnswer

<div class="panel panel-default">
    <div class="panel-heading">@MainResources.NoticeTableHeading</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @MainResources.NoticeTableTitle
                </th>
                <th>
                    @MainResources.NoticeTableDate
                </th>
                <th>
                    @MainResources.NoticeTableSender
                </th>
                <th>

                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Messages)
            {
                <tr style="@(item.IsRead != true ? "background-color: #f5f5f5" : "")">
                    <td>
                        @Html.ActionLink(item.Title, "ReadMessage", "ClinicNoticesPage", new { Token = Model.Token, MessageId = item.MessageId }, new { })
                    </td>
                    <td>
                        @if (@item.SendDate.Date == DateTime.Today)
                        {
                            @item.SendDate.ToString("t")
                        }
                        else
                        {
                            @item.SendDate.ToString("d")
                        }
                    </td>
                    <td>
                        @item.AuthorName
                    </td>
                    <td>
                        @Html.ActionLink(MainResources.ButtonDeleteMessage, "RemoveMessage", "ClinicNoticesPage", new { Token = Model.Token, MessageId = item.MessageId }, new { })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

