
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Resources
@model ServiceModels.ServiceCommandAnswers.NoticesCommandAnswers.GetClinicNoticesPageInformationCommandAnswer

<div class="w3-padding w3-white notranslate">
    <h2 class="panel-heading">@MainResources.NoticeTableHeading</h2>

        <div>
            @foreach (var item in Model.Messages)
            {
                <div>
                    <a class="btn btn-block btn-info" style="background-color:  @(!item.IsRead ? "#4682b4" : "#0082b4")" href=@Url.Action("ReadMessage", new { Token = Model.Token, MessageId = item.MessageId })>
                        <h4>@MainResources.NoticeTableTitle : @item.Title</h4>
                        <p>@MainResources.NoticeTableDate : @item.SendDate.ToString("d")</p>
                        <p>@MainResources.NoticeTableSender : @item.AuthorName</p>
                        @*<p>@Html.ActionLink(MainResources.ButtonDeleteMessage, "RemoveMessage", "ClinicNoticesPage", new { Token = Model.Token, MessageId = item.MessageId }, new { @class = "btn btn-info" })</p>*@
                    </a>
                </div>
            }
        </div>
</div>

