@{
    ViewBag.Title = "ShowDischargesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ServiceModels.ServiceCommandAnswers.NoticesCommandAnswers.ShowDischargesListCommandAnswer

<h2>Список выписок</h2>

<div>
    @foreach (var file in Model.Files)
    {
        <div>
            <div style="opacity: 0.9; display: flex; padding-bottom: 15px" class="col-md-12">
                <div class="col-md-12" style="background-color: bisque; ">
                    <div style="margin: 5px; padding-bottom: 10px; padding-top: 10px">
                        <b>Дата:</b> @file.Date @file.Time
                    </div>
                    <div style="margin: 5px; padding-bottom: 10px; padding-top: 10px">
                        <b>Доктор:</b> @file.Doctor
                    </div>
                </div>
                <div class="col-md-12" style="background-color: bisque; ">
                    <div style="margin: 5px; padding-bottom: 10px; padding-top: 10px">
                        <b>Больница:</b> @file.Hospital
                    </div>
                    <div style="margin: 5px; padding-bottom: 10px; padding-top: 10px;">
                        <a class="btn btn-info" style="max-width: 150px; min-width: 50%"
                           href="@Url.Action("DownloadDischarge", new { Token = Model.Token, DischargeId = file.DischargeId })">Загрузить</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>