@using ServiceModels.ServiceCommands.AuthorizationCommands

@{
    Layout = null;
}

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
{
    @Html.AntiForgeryToken()

    var model = new GetTokenByUserCredentialsCommand();
    
    <div class="panel">
        <div class="label">@Html.DisplayNameFor(o => model.Login)</div> 
        <div class="text-primary">@Html.TextBoxFor(o => model.Login)</div>
    </div>

    <div class="panel">
        <div class="label">@Html.DisplayNameFor(o => model.Password)</div>
        <div class="text-primary">@Html.TextBoxFor(o => model.Password)</div>
    </div>
    
    <input class="text-primary" type="submit"/>
}
