<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>

        @using Resources        
        @using ServiceModels.ServiceCommands.AuthorizationCommands

        @model GetTokenByUserCredentialsCommand

        @{
            Layout = null;
        }

        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post, new { id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()

            <div class="wrapper">
                <div class="form-signin">
                    <h1 class="form-signin-heading">@MainResources.AutorizationPageTitle</h1>
                    @Html.TextBoxFor(o => o.Login, new { @class = "form-control", @placeholder = MainResources.UserName, @name = "username", @required = "" })
                    @Html.TextBoxFor(o => o.Password, new { @class = "form-control", @placeholder = "Пароль", MainResources.Password, @required = "" })
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> @MainResources.SavePassword 
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">@MainResources.ButtonSign</button>
                </div>
            </div>

        }
    </body>

</html>