@using System.Web.Mvc.Html
@using Enums.EnumExtensions
@using Enums.Enums
@using Resources
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.ChangeHospitalRegistrationForNewSectionCommandAnswer

@{
    ViewBag.Title = "ChangeHospitalRegistrationForNewSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Errors != null)
{
    var errors = ViewBag.Errors as List<ServiceModels.ModelTools.CommandAnswerError>;
    if (errors.Any())
    {
        foreach (var error in errors)
        {
            <div class="alert-warning alert"> @error.FieldName : @error.Title </div>
        }
    }
}
@{
    int i = 0;
}
@using (Html.BeginForm("ApplyChangesNewHospitalRegistration", "ChangeHospitalRegistrationPage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(command => command.Token);
    <div class="panel-body">
        <div class="change-hospital-registration-panel">
           
             <div class="dropdown">
                @Html.DropDownList(
                    "HospitalProfileId",
                    new SelectList(
                        Model.FreeHospitalSectionsForRegistration.Select(x => new {Value = x.Id, Text = x.Name}),
                        "Value",
                        "Text"), new {@class = "btn btn-primary dropdown-toggle"})
            </div>

            <br />

            @{
                foreach (var sex in Enum.GetValues(typeof (Sex)).Cast<Sex>())
                {
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@MainResources.EmptyPlacePageSex</span>
                        <label class="form-control" aria-describedby="basic-addon1" name="CountFreePlaces[@i].Sex" id="CountFreePlaces[@i].Sex">@sex.ToCorrectString()</label>
                        <input type="hidden" name="CountFreePlaces[@i].Sex" id="CountFreePlaces[@i].Sex" class="form-control" value="@sex" />
                        <br />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@MainResources.EmptyPlacePageCount</span>
                        <input type="number" required class="form-control" aria-describedby="basic-addon1" name="CountFreePlaces[@i].OpenCount" id="CountFreePlaces[@i].OpenCount" />
                            
                        <br />
                    </div>
                    <br />
                    i++;
                }


            }
        </div>
        <input type="button" title="Back" class="btn btn-default" value="@MainResources.ButtonBack" onclick="location.href = '@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = Model.Date})' "/>
        <input class="btn btn-sm btn-primary" type="submit" value="@MainResources.ButtonAdd" />
       
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.FreeHospitalSectionsForRegistration)

     </div>
}