
@{
    ViewBag.Title = "ChangeHospitalRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Enums.EnumExtensions
@using Resources
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.ChangeHospitalRegistrationForSelectedSectionCommandAnswer

<h2>ChangeHospitalRegistration</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            @MainResources.EmptyPlacePageTableTitle @Model.SectionProfileName
        </div>
    </div>
    @using (Html.BeginForm("ApplyChangesHospitalRegistration", "ChangeHospitalRegistrationPage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(command => command.Token);
        <div class="panel-body">
            <div class="change-hospital-registration-panel">

            @for (var i = 0; i < Model.StatisticItems.Count; i++)
            {
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@MainResources.EmptyPlacePageSex</span>
                    <label name="FreeHospitalSectionsForRegistration[@i].Sex" id="FreeHospitalSectionsForRegistration[@i].Sex" class="form-control" title="@Model.StatisticItems[i].Sex.ToString("G")" > @Model.StatisticItems[i].Sex.ToCorrectString() </label>
                    <input type="hidden" name="FreeHospitalSectionsForRegistration[@i].Sex" id="FreeHospitalSectionsForRegistration[@i].Sex" class="form-control" value="@Model.StatisticItems[i].Sex.ToString("D")" />
                    <br />
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@MainResources.EmptyPlacePageCount</span>
                    <input class="form-control" id="FreeHospitalSectionsForRegistration[@i].OpenCount" name="FreeHospitalSectionsForRegistration[@i].OpenCount" type="number" value="@Model.StatisticItems[i].OpenCount.ToString("G")" required />
                    <br />
                </div>
                <br />
            }

            </div>
            <input type="button" title="Back" class="btn btn-default" value="@MainResources.ButtonBack" onclick="location.href = '@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = Model.Date})'" />
            <input class="btn btn-sm btn-primary" type="submit" value="@MainResources.ButtonChange" />
            
            @Html.HiddenFor(model => model.Date)
            @Html.HiddenFor(model => model.HospitalProfileId)

        </div>
    }
</div>
