
@{
    ViewBag.Title = "ChangeHospitalRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Resources
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.ChangeHospitalRegistrationForSelectedSectionCommandAnswer

<h2>ChangeHospitalRegistration</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            @MainResources.EmptyPlacePageTableTitle @Model.SectionProfileName
        </div>
    </div>
    @using (Html.BeginForm("ApplyChangesHospitalRegistration", "ChangeHospitalRegistrationPage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(command => command.Token);
        <div class="panel-body">
            <div class="change-hospital-registration-panel">
                @for (var i = 0; i <= Model.StatisticItems.Count; i++)
                {
                    <input type="text" name="FreeHospitalSectionsForRegistration[@i].AgeSection" id="FreeHospitalSectionsForRegistration[@i].AgeSection" />
                    <br/>
                    <input type="text" name="FreeHospitalSectionsForRegistration[@i].Sex" id="FreeHospitalSectionsForRegistration[@i].Sex" />
                    <br/>
                    <input type="text" name="FreeHospitalSectionsForRegistration[@i].OpenCount" id="FreeHospitalSectionsForRegistration[@i].OpenCount" />
                    <br/>

                    <br />
                }

                @*foreach (var info in Model.StatisticItems)
                {
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"> @MainResources.EmptyPlacePageAge</span>
                        <label class="form-control" aria-describedby="basic-addon1">@info.AgeSection.ToString("G")</label>
                        <br />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@MainResources.EmptyPlacePageSex</span>
                        <label class="form-control" aria-describedby="basic-addon1">@info.Sex.ToString("G")</label>
                        <br />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@MainResources.EmptyPlacePageCount</span>
                        <textarea class="form-control" placeholder="@info.OpenCount" rows="1"></textarea>
                        <br />
                    </div>
                    <br />
                }*@
            </div>
            <input type="button" title="Back" class="btn btn-default" value="@MainResources.ButtonBack" onclick="location.href = '@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = Model.Date})'" />
            <input class="btn btn-sm btn-primary" type="submit" value="@MainResources.ButtonChange" />
        </div>
    }
</div>
