@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Enums.EnumExtensions
@using HelpingTools.ExtentionTools
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.GetChangeHospitalRegistrationsPageInformationCommandAnswer

<div class="schedule-label">


    <div>
        @{
            var index = 0;
            foreach (var item in Model.Schedule)
            {
                <div class="list-group">
                    <div class="col-md-3" role="alert">
                        <div style="height: 100px; vertical-align: middle; min-width: 100%; vertical-align: middle" class="text-center btn">
                            <span aria-hidden="true" style="vertical-align: middle">
                                @{
                                    if (index == 0)
                                    {
                                        <p>Текущая неделя </p>
                                    }
                                    else
                                    {
                                        <p>@(index + 1)-я неделя</p>
                                    }
                                }
                                @{
                                    var firstMonth = item.Cells.First().Value.Date.Month;
                                    var lastMonth = item.Cells.Last().Value.Date.Month;
                                    if (firstMonth != lastMonth)
                                    {
                                        <p>(@item.Cells.First().Value.Date.GetMonthString() - @item.Cells.Last().Value.Date.GetMonthString())</p>
                                    }
                                    else
                                    {
                                        <p>(@item.Cells.First().Value.Date.GetMonthString())</p>
                                    }

                                }

                                @{
                                    index++;
                                }
                            </span>
                        </div>
                    </div>
                    @foreach (var cell in item.Cells.Values)
                    {
                        if (cell.IsBlocked)
                        {
                            <div class="col-md-1" role="alert">
                                <div style="min-width: 100px;">
                                    <a class="nav" style="height: 100px; text-align: center; min-width: 100%;">
                                        <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                            <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px">Блокиров.</span> <h4>@cell.Day</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (cell.IsThisDate)
                            {
                                if (cell.IsStarted)
                                {
                                    if (cell.IsCompleted)
                                    {
                                        <div class="col-md-1" role="alert">
                                            <div style="min-width: 100px;">
                                                <a href="@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = cell.Date})" class="button9 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                    <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                        <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Сегодня.</span> <h4>@cell.Day</h4>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-1" role="alert">
                                            <div style="min-width: 100px;">
                                                <a href="@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = cell.Date})" class="button9 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                    <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                        <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Сегодня.</span> <h4>@cell.Day</h4>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-md-1" role="alert">
                                        <div style="min-width: 100px;">
                                            <a href="@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = cell.Date})" class="button9 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                    <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Сегодня.</span> <h4>@cell.Day</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {

                                if (cell.IsStarted)
                                {
                                    if (cell.IsCompleted)
                                    {
                                        <div class="col-md-1" role="alert">
                                            <div style="min-width: 100px;">
                                                <a href="@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = cell.Date})" class="button7 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                    <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                        <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Изменить</span> <h4>@cell.Day</h4>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-1" role="alert">
                                            <div style="min-width: 100px;">
                                                <a href="@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = cell.Date})" class="button10 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                    <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                        <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Изменить</span> <h4>@cell.Day</h4>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-md-1" role="alert">
                                        <div style="min-width: 100px;">
                                            <a href="@Url.Action("Step2", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = cell.Date})" class="button8 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                    <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Зарегест.</span> <h4>@cell.Day</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }

                    }
                    <div class="col-md-2" role="alert">
                        <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center">
                            <span aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>