@using HelpingTools.ExtentionTools
@using Resources
@using ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.Entities
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.GetComingRecordsCommandAnswer

@{
    ViewBag.Title = "ShowComingRecords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<AllHospitalRegistrations> filterListByDate = Model.Table
      .GroupBy(p => p.Date)
      .Select(g => g.First())
      .ToList();
    <div>
        <div class="panel-heading">
            <h3><b>Просмотр</b></h3>
        </div>
        <div class="panel-body">

            <table class="table" style="border: gray 2px double; color: black; background-color: lightgray; opacity: 0.9;">
                <thead>
                    <tr>
                        <td></td>
                        <th>
                            Фамилия
                        </th>
                        <th>
                            Имя
                        </th>
                        <th>
                            Возраст
                        </th>
                        <th>
                            Диагноз
                        </th>
                        <th>
                            Напрвляющее ЛПУ
                        </th>
                        <th>
                            Отделение
                        </th>
                        <th>
                            Доктор
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in filterListByDate)
                    {
                        <tr>
                            <td colspan="8" style="color: black; background-color: lightgray; opacity: 0.7;">
                                <b>Дата: @record.Date.ToCorrectDateString()</b>
                            </td>
                        </tr>
                        foreach (var patient in @Model.Table)
                        {
                            if (patient.Date == record.Date)
                            {
                                <tr style="color: black; background-color: lightblue; opacity: 0.7;">
                                    <td></td>
                                    <td>
                                        @patient.LastName
                                    </td>
                                    <td>
                                        @patient.FirstName
                                    </td>
                                    <td>
                                        @patient.Age
                                    </td>
                                    <td>
                                        @patient.Diagnosis
                                    </td>
                                    <td>
                                        @patient.ClinicName
                                    </td>
                                    <td>
                                        @patient.SectionName
                                    </td>
                                    <td>
                                        @patient.DoctorName
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <input type="button" title="Back" class="btn btn-info" value="@MainResources.ButtonBack" onclick="location.href='@Url.Action("Index", "HospitalUserHomePage", new { Token = Model.Token })'" />
    </div>
}
