@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Enums.EnumExtensions
@using HelpingTools.ExtentionTools
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.ShowHospitalRegistrationPlacesByDateCommandAnswer

<div>
    <h2>Дата: @Model.Date.ToCorrectDateString()</h2>
</div>

<div class="bs-example">
    <div class="panel-group" id="accordion">

        @{
            var iteration = 1;
            foreach (var item in Model.Table)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href=@("#collapse" + iteration)>
                                <span style="max-width: 50px">@(iteration). @item.HospitalProfileName</span>
                                <div>@Html.ActionLink("Изменить", "ChangeHospitalRegistration", "ChangeHospitalRegistrationPage", new {Token = Model.Token, HospitalProfileId = item.HospitalProfileId, Date = Model.Date}, new {@class = "btn-info btn"})</div>
                            </a>
                        </div>
                    </div>
                    <div id=@("collapse" + iteration) class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (var info in item.StatisticItems)
                            {
                                <div>
                                    <br />
                                    @if (info.Sex != null)
                                    {
                                        <span>Пол:</span>
                                        <span>@(info.Sex.Value.ToCorrectString())</span>
                                        <br/>
                                    }
                                    Количество: @info.OpenCount <br />
                                    <br />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                {
                    iteration++;
                }
            }

            if (!Model.IsCompleted)
            {
                if (!Model.Table.Any())
                {
                    <div class="alert-info alert">Количество мест на текущую дату ещё не было заполнено, для того, чтобы это сделать, нажмите кнопку "Добавить"</div>
                }
                <div>
                    <br />
                    @Html.ActionLink("Добавить", "ChangeHospitalRegistrationForNewSection", "ChangeHospitalRegistrationPage", new {Token = Model.Token, Date = Model.Date}, new {@class = "btn-info btn"})
                    <br />
                </div>
            }
        }
    </div>
</div>
