@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Enums.EnumExtensions
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.ShowHospitalRegistrationPlacesByDateCommandAnswer

<div class="bs-example">
    <div class="panel-group" id="accordion">

        @{
            var iteration = 1;
            foreach (var item in Model.Table)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href=@("#collapse" + iteration)>
                                @(iteration). @item.HospitalProfileName <div class="pull-right">@Html.ActionLink("Изменить", "ChangeHospitalRegistration", "ChangeHospitalRegistrationPage", new { Token = Model.Token, HospitalProfileId = item.HospitalProfileId, Date = Model.Date}, new { @class = "btn-info btn" })</div>
                            </a>
                        </div>
                    </div>
                    <div id=@("collapse" + iteration) class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (var info in item.StatisticItems)
                            {
                                <div>
                                    <br/>
                                    Пол: @info.Sex.ToCorrectString() <br/>
                                    Количество: @info.OpenCount <br/>
                                    <br/>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                {
                    iteration++;
                }
            }

            if (!Model.IsCompleted)
            {
                <div>
                    <br/>
                    @Html.ActionLink("Добавить", "ChangeHospitalRegistrationForNewSection", "ChangeHospitalRegistrationPage", new { Token = Model.Token, Date = Model.Date}, new { @class = "btn-info btn" })
                    <br />
                </div>
            }
        }
    </div>
</div>

