@using Resources
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.ViewDetailedInformationOnRegisteredPatientsCommandAnswer

@{
    ViewBag.Title = "ViewDetailedInformationOnRegisteredPatients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детальная информация</h2>

<div class="bs-example">
    <div class="panel-group" id="accordion">

        @{
            if (Model.Table.Count != 0)
            {
                var iteration = 0;
                foreach (var item in Model.Table)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href=@("#collapse" + iteration)>
                                    <div>
                                        <div style="display: inline-block; min-width: 90%">
                                            @item.PatientLastName @item.PatientFirstName
                                        </div>
                                        <div style="display: inline-block">
                                            @(Model.FullInformation == null 
                                            ? Html.ActionLink("Отменить", "BreakRegistration", new {Token = @Model.Token, ReservationId = @item.ReservationId, EmptyPlaceByTypeStatisticId = Model.EmptyPlaceByTypeStatisticId, HospitalProfileId = Model.HospitalProfileId, Date = Model.Date}, new {@class = "btn-info btn"}) 
                                            : Html.ActionLink("Отменить", "BreakRegistration", new {Token = @Model.Token, ReservationId = @item.ReservationId, EmptyPlaceByTypeStatisticId = Model.EmptyPlaceByTypeStatisticId, FullInformation = Model.FullInformation, HospitalProfileId = Model.HospitalProfileId, Date = Model.Date}, new {@class = "btn-info btn"}))
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id=@("collapse" + iteration) class="panel-collapse collapse">
                            <div class="panel-body">
                                Код Пациента: @item.PatientCode <br />
                                Больница: @item.Haspital <br />
                                Отделение: @item.SectionProfile <br />
                                Диагноз: @item.Diagnosis <br />
                            </div>
                        </div>
                    </div>
                    {
                        iteration++;
                    }
                }
            }

            else
            {
                @: <h2>Внимание! Нет забронированных мест.</h2>
            }
        }
</div>
    <input type="button" title="Back" class="btn btn-default" value="@MainResources.ButtonBack" onclick="location.href = '@Url.Action("ChangeHospitalRegistration", "ChangeHospitalRegistrationPage", new { Token = Model.Token, Date = Model.Date, EmptyPlaceByTypeStatisticId = Model.EmptyPlaceByTypeStatisticId, HospitalProfileId = Model.HospitalProfileId })'" />

</div>


