@using Resources

@model ServiceModels.ServiceCommandAnswers.MainPageCommandAnswers.GetClinicUserMainPageInformationCommandAnswer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.WriteTextAndVariable(@MainResources.UserPageHello + ", ", @Model.UserName, "!", "p")</h2>

@{
    if (Model.ShowModalWindow)
    {
        @ModalWindowsHelper.AddInfoModalWindow(helper: Html,
            headText: "Оповещение:",
            bodyText: "Операция успешно выполнена.")
    }
}
<div class="panel-home">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.WriteTextAndUrl(@MainResources.ClinicUserPageRegistrationBefore, "Index", "MakeClinicRegistrationPage", @MainResources.ClinicUserPageRegistrationAfter)
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.WriteTextAndUrl(@MainResources.ClinicUserPageCancelRegistrationBefore, "Index", "BreakClinicRegistrationPage", @MainResources.ClinicUserPageCancelRegistrationAfter)
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.WriteTextAndUrl(@MainResources.ClinicUserPageViewNoticesBefore, "Index", "ClinicNoticesPage", @MainResources.ClinicUserPageViewNoticesAfter)

                    @{
                        if (Model.CountNewNotices > 0)
                        {
                            <a href="@Url.Action("Index", "ClinicNoticesPage", new { Token = Model.Token })"><span class="badge">@Model.CountNewNotices.ToString()</span></a>
                        }
                    }
                </p>
            </div>
        </div>
    </div>
</div>