@using Resources

@model ServiceModels.ServiceCommandAnswers.MainPageCommandAnswers.GetClinicUserMainPageInformationCommandAnswer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.WriteTitlePage(@MainResources.ClinicUserPageTitle, "h2")

@Html.WriteTextAndVariable(@MainResources.ClinicUserPageHello + ", ", @Model.UserName, "!", "p")

<div>
    @Html.WriteTextAndUrl(@MainResources.ClinicUserPageRegistrationBefore, "Index", "MakeClinicRegistrationPage", @MainResources.ClinicUserPageRegistrationAfter)
    <br/>
    @Html.WriteTextAndUrl(@MainResources.ClinicUserPageCancelRegistrationBefore, "Index", "BreakClinicRegistrationPage", @MainResources.ClinicUserPageCancelRegistrationAfter)
</div>

<div>
    @Html.WriteTextAndUrl(@MainResources.ClinicUserPageViewNoticesAfter, "Index", "ClinicNoticesPage", @MainResources.ClinicUserPageViewNoticesBefore)

        @{
            if (Model.CountNewNotices > 0)
            {
                <a href="@Url.Action("Index", "ClinicNoticesPage", new { Token = Model.Token })"><span class="badge">@Model.CountNewNotices.ToString()</span></a><br>
        }
    }
</div>