@using Enums.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Regestration System</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" style="background-color: black; color: white; padding-right: 10px">
                <img src="~/Content/Images/22.jpg" alt="" style="max-width: 100px; max-height: 50px"/>
                <span>Бюро госпитализации</span>
            </div>
            <ul class="nav navbar-nav nav-pills">
                @{
                    var dropDownMenu = true;
                    for (var i = 0; i < 0; i++)
                    {
                        var nextTab = ViewBag.MainMenuTabs[i];
                        if (!nextTab.IsEnabled)
                        {
                            <li class="disabled"><a class="nav">@nextTab.Label</a></li>
                        }
                        else
                        {
                            if (nextTab.IsActive)
                            {
                                dropDownMenu = false;
                                <li class="active">@Html.ActionLink((string)nextTab.Label, (string)nextTab.ActionName, (string)nextTab.ControllerName, new { Token = ViewBag.Token }, new { @class = "nav" })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink((string)nextTab.Label, (string)nextTab.ActionName, (string)nextTab.ControllerName, new { Token = ViewBag.Token }, new { @class = "nav" })</li>
                            }
                        }

                    }
                    <li class="dropdown nav navbar-nav navbar-inverse @(dropDownMenu ? "active" : "")" role="presentation" style="margin-left: 10px">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Открыть главное меню <span class="caret"></span>
                        </a>
                        <ul class="nav navbar-nav dropdown-menu nav-pills" style="background-color: #333333">
                            @for (var i = 0; i < ViewBag.MainMenuTabs.Count; i++)
                            {
                                var nextTab = ViewBag.MainMenuTabs[i];
                                if (!nextTab.IsEnabled)
                                {
                                    <li class="disabled" style="width: 100%; height: 50px"><a class=" nav">@nextTab.Label</a></li>
                                }
                                else
                                {
                                    if (nextTab.IsActive)
                                    {
                                        <li class="active" style="background-color: black; width: 100%; height: 50px">@Html.ActionLink((string)nextTab.Label, (string)nextTab.ActionName, (string)nextTab.ControllerName, new { Token = ViewBag.Token }, new { @class = "nav" })</li>
                                    }
                                    else
                                    {
                                        <li style="width: 100%; height: 50px">@Html.ActionLink((string)nextTab.Label, (string)nextTab.ActionName, (string)nextTab.ControllerName, new { Token = ViewBag.Token }, new { @class = "nav" })</li>
                                    }
                                }
                            }
                        </ul>
                    </li>
}
            </ul>

        </div>
    </div>
</div>


<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - System Doctor ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
