@using Enums.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>@Html.ActionLink("Главная страница", "Index", "Home", new { Token = ViewBag.Token }, new { @class = "navbar-brand" })</span>
            </div>
        </div>
    </div>
    
    @*TODO: Create way to resolve it*@ 
    
    <div class="navbar-left" style="margin-bottom: 50px">
        <ul class="nav nav-pills nav-justified btn-toolbar ">
            @*Links to add to main menu*@

            @foreach (var nextTab in ViewBag.MainMenuTabs)
            {
                if (!nextTab.IsEnabled)
                {
                    <li class="disabled"><a class="nav">@nextTab.Label</a></li>
                }
                else
                {
                    if (nextTab.IsActive)
                    {
                        <li class="active">@Html.ActionLink((string)nextTab.Label, (string)nextTab.ActionName, (string)nextTab.ControllerName, new { Token = ViewBag.Token }, new { @class = "nav" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink((string)nextTab.Label, (string)nextTab.ActionName, (string)nextTab.ControllerName, new { Token = ViewBag.Token }, new { @class = "nav" })</li>
                    }
                }
            }
        </ul>
    </div>


<div class="container body-content" >
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - System Doctor ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
