<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Regestration System</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

@section scripts
{
}

<div>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" style="background-color: black; color: white; padding-right: 10px">
                <img src="~/Content/Images/22.jpg" alt="" style="max-width: 100px; max-height: 50px"/>
                <span>Бюро госпитализации</span>
            </div>
            <ul class="nav navbar-nav nav-pills">
                @{
                    var dropDownMenu = true;
                    <li class="dropdown nav navbar-nav navbar-inverse @(dropDownMenu ? "active" : "")" role="presentation" style="margin-left: 10px">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Открыть главное меню <span class="caret"></span>
                        </a>
                        <ul class="nav navbar-nav dropdown-menu nav-pills" style="background-color: #333333">
                            @foreach (var nextTab in ViewBag.MainMenuTabs)
                            {
                                if (nextTab.IsActive)
                                {
                                    <li class="active" style="background-color: black; width: 100%; height: 50px">@Html.ActionLink((string)nextTab.Label, (string)nextTab.ActionName, (string)nextTab.ControllerName, new { Token = ViewBag.Token }, new { @class = "nav" })</li>
                                }
                                else
                                {
                                    <li style="width: 100%; height: 50px">@Html.ActionLink((string)nextTab.Label, (string)nextTab.ActionName, (string)nextTab.ControllerName, new { Token = ViewBag.Token }, new { @class = "nav" })</li>
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>


<div class="container body-content">

    @if (ViewBag.HasDialogMessage != null && ViewBag.HasDialogMessage)
    {
        <div class="modal fade" tabindex="-1" role="dialog" id="mainModalDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Информация</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.DialogMessage</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">ОК</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <script type="text/javascript">
            $(document).ready(function () {
                $('#mainModalDialog').modal('show');
            });
        </script>
    }

    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - System Doctor ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
