@using Resources
@model ServiceModels.ServiceCommandAnswers.NoticesCommandAnswers.GetHospitalMessageByIdCommandAnswer

@{
    ViewBag.Title = "ReadMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        <p>@Model.Text</p>
    </div>
</div>
<input type="button" title="Back" class="btn btn-default" value="@MainResources.ButtonBack" onclick="location.href='@Url.Action("Index", "HospitalNoticesPage", new { Token = Model.Token })'" />

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalWindow">@MainResources.ButtonDeleteMessage</button>

@ModalWindowsHelper.AddActionModalWindow(helper: Html,
    headText: "Подтверждение", 
    bodyText: "Вы уверены?", 
    actionName: "RemoveMessage", 
    controlName: "HospitalNoticesPage", 
    paramsList: new {Token = Model.Token, MessageId = Model.MessageId}, 
    applyButtonName: "Удалить")