@{
    ViewBag.Title = "ViewMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Enums.Enums
@using HelpingTools.ExtentionTools
@using Resources
@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.GetHospitalRegistrationRecordCommandAnswer

<h2>
    Регистрация пациента #@Model.ReservationId
    @Html.ActionLink("Список", "Index", new { Token = Model.Token }, new { @class = "btn btn-info" })
    <input type="button" title="Delete" class="btn btn-danger" value="@MainResources.ButtonCancellationMessage" data-toggle="modal" data-target=@( "#modalWindow" + @Model.ReservationId)>
    @if (Model.HospitalReservationFileId != null && Model.HospitalReservationFileId != 0)
    {
        @Html.ActionLink("Скачать файл", "DownloadReservationFile", new { Token = Model.Token, HospitalReservationFileId = Model.HospitalReservationFileId }, new { @class = "btn btn-success" })
    }
</h2>

@ModalWindowsHelper.AddActionModalWindowWithTextBox(helper: Html,
                                            headText: "Укажите причину отмены регистрации",
                                            actionName: "BreakRegistration",
                                            controlName: "ViewHospitalRegistrations",
                                            paramsList: new { Token = Model.Token, ReservationId = Model.ReservationId },
                                            applyButtonName: "Применить",
                                            id: @Model.ReservationId + "",
                                            textBoxName: "Cause")

<div class="panel panel-default">
    <div>
        <h3><b>Имя:</b> @Model.LastName @Model.FirstName</h3>
    </div>
    <div>
        <h3><b>Дата регистрации:</b> @Model.RegistrationDate.ToCorrectDateString()</h3>
    </div>
    <div>
        <h3><b>Пол:</b> @(Model.Sex == Sex.Female ? "Женский" : "Мужской")</h3>
    </div>
    <div>
        <h3><b>Направляющее ЛПУ:</b> @Model.ClinicName</h3>
    </div>
    <div>
        <h3><b>Отделение:</b> @Model.SectionName</h3>
    </div>
    <div>
        <h3><b>Номер телефона: :</b> @Model.PhoneNumber</h3>
    </div>
    <div>
        <h3><b>Возраст:</b> @Model.Years</h3>
    </div>
    <div>
        <h3><b>Диагноз:</b> @Model.Diagnosis</h3>
    </div>
    <div>
        <h3><b>Причина регистрации:</b> @Model.ReservationPurpose</h3>
    </div>
    <div>
        <h3><b>Медицинское заключение врача:</b> @Model.MedicalConsultion</h3>
    </div>
    <div>
        <h3><b>Результаты медицинского обследования:</b> @Model.MedicalExaminationResult</h3>
    </div>
    <div>
        <h3><b>Иная информация:</b> @Model.OtherInformation</h3>
    </div>
</div>
