@using Resources

@model ServiceModels.ServiceCommandAnswers.MainPageCommandAnswers.GetHospitalUserMainPageInformationCommandAnswer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Model.ShowModalWindow)
    {
        @ModalWindowsHelper.AddInfoModalWindow(helper: Html,
            headText: "Оповещение:",
            bodyText: "Операция успешно выполнена.")
    }
}
<h2>@Html.WriteTextAndVariable(@MainResources.UserPageHello + ", ", @Model.UserName, "!", "p")</h2>

<div class="panel-home">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.WriteTextAndUrl(MainResources.HospitalUserPageChangeRegistrationBefore, "GetRegistrationScheduleBySection", "ChangeHospitalRegistrationPage", @MainResources.HospitalUserPageChangeRegistrationAfter)
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.WriteTextAndUrl(@MainResources.HospitalUserPageSendMessageBefore, "Index", "HospitalUserSendDistributiveMessagesPage", @MainResources.HospitalUserPageSendMessageAfter)
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.WriteTextAndUrl(@MainResources.HospitalUserPageViewNoticesBefore, "Index", "HospitalNoticesPage", @MainResources.HospitalUserPageViewNoticesAfter)

                    @{
                        if (Model.CountNewNotices > 0)
                        {
                            <a href="@Url.Action("Index", "HospitalNoticesPage", new { Token = Model.Token })"><span class="badge">@Model.CountNewNotices.ToString()</span></a>
                        }
                    }
                </p>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.WriteTextAndUrl(@MainResources.HospitalUserPageViewComingRecordsBefore, "Index", "ViewHospitalRegistrations", @MainResources.HospitalUserPageViewComingRecordsAfter)
                </p>
            </div>
        </div>
    </div>
</div>