@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ServiceModels.ServiceCommandAnswers.ClinicRegistrationsCommandAnswers.GetMakeClinicRegistrationsPageInformationCommandAnswer

<br>
<h2>Please register data:</h2>
<br>

<div class="panel-body form-group">
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>AgeSection:</label>
        </div>
        <div class="col-lg-7">
            @Html.DropDownListFor(answer => answer.AgeSection, Model.AgeSections.Select(pair => new SelectListItem
            {
                Selected = pair.Value == @Model.AgeSection,
                Value = pair.Key.ToString(),
                Text = pair.Value,
                Disabled = false
            }), new { @class = "form-control" })
        </div>

    </div>
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>Sex:</label>
        </div>
        <div class="col-lg-7">
            @Html.DropDownListFor(answer => answer.Sex, Model.Sexes.Select(pair => new SelectListItem
            {
                Selected = pair.Value == @Model.Sex,
                Value = pair.Key.ToString(),
                Text = pair.Value,
                Disabled = false
            }), new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>SectionProfile:</label>
        </div>
        <div class="col-lg-7">
            @Html.DropDownListFor(answer => answer.SectionProfile, Model.SectionProfiles.Select(pair => new SelectListItem
            {
                Selected = pair.Value == @Model.SectionProfile,
                Value = pair.Key.ToString(),
                Text = pair.Value,
                Disabled = false
            }), new {@class = "form-control"})
        </div>
    </div>
    <div class="col-lg-10 panel-body">
        <div><a id="NextLink" class="btn-info btn btn-lg">Next</a></div>
    </div>
</div>


<script type="text/javascript">
    $('#NextLink').click(function (e) {
        e.preventDefault();
        window.location.replace =
            '<%=Url.Action("Add","AddAction", "AddController")%>' + '?accessID=' + $('#dropBox').val();
    });
</script>


