@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        
        var setStartValue = function() {
            $('#Hospitals').val('@Model.CurrentHospitalId');
        }

        setStartValue();

        var HospitalChange = function (e) {
            var url = '@Url.Action("Step2", "MakeClinicRegistrationPage", new { Token = @Model.Token })'
                + '?Sex=' + $('#SexId').val()
                + '&SectionProfileId=' + $('#SectionProfileId').val()
                + '&CurrentHospitalId=' + $('#Hospitals').val();
            window.location.replace(url);
        };
    </script>
}

@using Enums.EnumExtensions
@model ServiceModels.ServiceCommandAnswers.ClinicRegistrationsCommandAnswers.GetClinicRegistrationScheduleCommandAnswer

<div class="panel-body form-group">
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>Отделение (профиль):</label>
        </div>
        <div class="col-lg-7">
            @Model.SectionProfile
            @Html.HiddenFor(answer => answer.SectionProfileId)
        </div>

    </div>
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>Пол:</label>
        </div>
        <div class="col-lg-7">
            @Model.Sex
            @Html.HiddenFor(answer => answer.SexId)
        </div>

    </div>
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>Больница:</label>
        </div>
        <div class="col-lg-7">
            @Html.DropDownListFor(answer => answer.Hospitals, Model.Hospitals.Select(pair => new SelectListItem
            {
                Selected = pair.Key == Model.CurrentHospitalId,
                Value = pair.Key.ToString(),
                Text = pair.Value,
                Disabled = false
            }), new
            {
                @class = "form-control",
                @onchange = "HospitalChange()",
                @value = Model.Hospitals.FirstOrDefault(pair => pair.Key == Model.CurrentHospitalId).Key.ToString(),
                @text = Model.Hospitals.FirstOrDefault(pair => pair.Key == Model.CurrentHospitalId).Value
            })
        </div>

    </div>
</div>

<div class="calendar">


    <div>
        @{
            var index = 0;
            foreach (var item in Model.Schedule)
            {
                <div class="list-group">
                    <div class="col-md-3" role="alert">
                        <div style="height: 100px; vertical-align: middle; min-width: 100%; vertical-align: middle" class="text-center btn">
                            <span aria-hidden="true" style="vertical-align: middle">
                                @{
                                    if (index == 0)
                                    {
                                        <p>Текущая неделя </p>
                                    }
                                    else
                                    {
                                        <p>@(index + 1)-я неделя</p>
                                    }
                                }
                                @{
                                    var firstMonth = item.Cells.First().Value.Date.Month;
                                    var lastMonth = item.Cells.Last().Value.Date.Month;
                                    if (firstMonth != lastMonth)
                                    {
                                        <p>(@item.Cells.First().Value.Date.GetMonthString() - @item.Cells.Last().Value.Date.GetMonthString())</p>
                                    }
                                    else
                                    {
                                        <p>(@item.Cells.First().Value.Date.GetMonthString())</p>
                                    }

                                }

                                @{
                                    index++;
                                }
                            </span>
                        </div>
                    </div>
                    @foreach (var cell in item.Cells.Values)
                    {
                        if (cell.IsBlocked)
                        {
                            <div class="col-md-1" role="alert">
                                <div style="min-width: 100px;">
                                    <a class="nav" style="height: 100px; text-align: center; min-width: 100%;">
                                        <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                            <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Блокиров.</span> <h4>@cell.Day</h4>
                                            <span class="badge">@cell.Count</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (cell.IsThisDate)
                            {
                                if (cell.Count <= 0)
                                {
                                    <div class="col-md-1" role="alert">
                                        <div style="min-width: 100px;">
                                            <a class="button9 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                    <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Сегодня.</span> <h4>@cell.Day</h4>
                                                    <span class="badge">@cell.Count</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-1" role="alert">
                                        <div style="min-width: 100px;">
                                            <a href="@Url.Action("Step3", new
                                                     {
                                                         Token = Model.Token,
                                                         SexId = Model.SexId,
                                                         SectionProfileId = Model.SectionProfileId,
                                                         CurrentHospitalId = Model.CurrentHospitalId,
                                                         Date = cell.Date
                                                     })" class="button9 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                    <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Сегодня.</span> <h4>@cell.Day</h4>
                                                    <span class="badge">@cell.Count</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }

                            }
                            else
                            {
                                if (cell.Count <= 0)
                                {
                                    <div class="col-md-1" role="alert">
                                        <div style="min-width: 100px;">
                                            <a class="button8 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                    <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Нет мест</span> <h4>@cell.Day</h4>
                                                    <span class="badge">@cell.Count</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else if (cell.Count < 3)
                                {
                                    <div class="col-md-1" role="alert">
                                        <div style="min-width: 100px;">
                                            <a href="@Url.Action("Step3", new
                                                     {
                                                         Token = Model.Token,
                                                         SexId = Model.SexId,
                                                         SectionProfileId = Model.SectionProfileId,
                                                         CurrentHospitalId = Model.CurrentHospitalId,
                                                         Date = cell.Date
                                                     })" class="button10 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                    <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Зарегес.</span> <h4>@cell.Day</h4>
                                                    <span class="badge">@cell.Count</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-1" role="alert">
                                        <div style="min-width: 100px;">
                                            <a href="@Url.Action("Step3", new
                                                     {
                                                         Token = Model.Token,
                                                         SexId = Model.SexId,
                                                         SectionProfileId = Model.SectionProfileId,
                                                         CurrentHospitalId = Model.CurrentHospitalId,
                                                         Date = cell.Date
                                                     })" class="button7 nav" style="height: 100px; text-align: center; min-width: 100%;">
                                                <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center btn">
                                                    <span aria-hidden="true" style="height: 100px; text-align: center; min-width: 40px;">Зарегес.</span> <h4>@cell.Day</h4>
                                                    <span class="badge">@cell.Count</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }

                    }
                    <div class="col-md-2" role="alert">
                        <div style="height: 100px; vertical-align: middle; min-width: 100%;" class="text-center">
                            <span aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
