@{
    ViewBag.Title = "Step3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ServiceModels.ServiceCommandAnswers.ClinicRegistrationsCommandAnswers.GetClinicRegistrationUserFormCommandAnswer

@if (ViewBag.Errors != null)
{
    var errors = ViewBag.Errors as List<ServiceModels.ModelTools.CommandAnswerError>;
    if (errors.Any())
    {
        foreach (var error in errors)
        {
            <div class="alert-warning alert"> @error.FieldName : @error.Title </div>
        }
    }
}

@using (Html.BeginForm("SaveRegistration", "MakeClinicRegistrationPage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(command => command.Token);

    <h2>Регистрация: </h2>
    <div class="form-group ">
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>
                    Код пациента: 
                </h4>
            </div>
            <div class="col-md-5">
                <h4>
                    @Html.HiddenFor(command => command.Code)
                    <b>@Model.Code</b>
                </h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>Имя:</h4>
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(o => o.FirstName, new {@class = "form-control", @rows = "10"})
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>Фамилия:</h4>
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(o => o.LastName, new { @class = "form-control", @rows = "10" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>Возраст:</h4>
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(o => o.Age, new {@class = "form-control", @rows = "10"})
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>
                    Возврастной диапазон:
                </h4>
            </div>
            <div class="col-md-5">
                <h4>
                    @Html.HiddenFor(command => command.AgeSection)
                    @Html.HiddenFor(command => command.AgeSectionId)
                    <b>@Model.AgeSection</b>
                </h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>
                    Пол: 
                </h4>
            </div>
            <div class="col-md-5">
                <h4>
                    @Html.HiddenFor(command => command.Sex)
                    @Html.HiddenFor(command => command.SexId)
                    <b>@Model.Sex</b>
                </h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>Телефон:</h4>
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(o => o.PhoneNumber, new {@class = "form-control", @rows = "10"})
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>
                    Дата: 
                </h4>
            </div>
            <div class="col-md-5">
                <div class="hidden">
                    @Html.EditorFor(command => command.Date)
                </div>
                <h4>
                    <b>@Model.DateValue</b>
                </h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>
                    Больница: 
                </h4>
            </div>
            <div class="col-md-5">
                <h4>
                    @Html.HiddenFor(command => command.CurrentHospital)
                    @Html.HiddenFor(command => command.CurrentHospitalId)
                    <b>@Model.CurrentHospital</b>
                </h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>
                    Отделение:
                </h4>
            </div>
            <div class="col-md-5">
                <h4>
                    @Html.HiddenFor(command => command.SectionProfile)
                    @Html.HiddenFor(command => command.SectionProfileId)
                    <b>@Model.SectionProfile</b>
                </h4>
            </div>
        </div>

        <input class="btn btn-sm btn-primary" type="submit"/>
    </div>
}

