@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        
        var setStartValue = function() {
            $('#Hospitals').val('@Model.CurrentHospitalId');
        }

        setStartValue();

        var HospitalChange = function (e) {
            var url = '@Url.Action("Step2", "MakeClinicRegistrationPage", new { Token = @Model.Token })'
                + '?Sex=' + $('#SexId').val()
                + '&SectionProfileId=' + $('#SectionProfileId').val()
                + '&CurrentHospitalId=' + $('#Hospitals').val();
            window.location.replace(url);
        };
    </script>
}

@model ServiceModels.ServiceCommandAnswers.ClinicRegistrationsCommandAnswers.GetClinicRegistrationScheduleCommandAnswer

<div class="panel-body form-group">
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>Отделение (профиль):</label>
        </div>
        <div class="col-lg-7">
            @Model.SectionProfile
            @Html.HiddenFor(answer => answer.SectionProfileId)
        </div>

    </div>
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>Пол:</label>
        </div>
        <div class="col-lg-7">
            @Model.Sex
            @Html.HiddenFor(answer => answer.SexId)
        </div>

    </div>
    <div class="col-lg-10 panel-body ">
        <div class="col-lg-3">
            <label>Больница:</label>
        </div>
        <div class="col-lg-7">
            @Html.DropDownListFor(answer => answer.Hospitals, Model.Hospitals.Select(pair => new SelectListItem
            {
                Selected = pair.Key == Model.CurrentHospitalId,
                Value = pair.Key.ToString(),
                Text = pair.Value,
                Disabled = false
            }), new
            {
                @class = "form-control",
                @onchange = "HospitalChange()",
                @value = Model.Hospitals.FirstOrDefault(pair => pair.Key == Model.CurrentHospitalId).Key.ToString(),
                @text = Model.Hospitals.FirstOrDefault(pair => pair.Key == Model.CurrentHospitalId).Value
            })
        </div>

    </div>
</div>

<div class="calendar">
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Понедельник
                    </th>
                    <th>
                        Вторник
                    </th>
                    <th>
                        Среда
                    </th>
                    <th>
                        Четверг
                    </th>
                    <th>
                        Пятница
                    </th>
                    <th>
                        Суббота
                    </th>
                    <th>
                        Воскресенье
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Schedule)
                {
                    <tr>
                        @foreach (var cell in item.Cells.Values)
                        {
                            if (cell.IsBlocked)
                            {
                                <td>
                                    <div style="height: 150px; width: 150px; max-width: 150px; max-height: 150px; vertical-align: middle" class="text-center btn btn-block">
                                        <h2>@cell.Day</h2>
                                    </div>
                                </td>
                            }
                            else
                            {
                                if (cell.IsThisDate)
                                {
                                    <td>
                                        <div style="height: 150px; width: 150px; max-width: 150px; max-height: 150px; vertical-align: middle" class="text-center btn btn-primary">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <h2>@cell.Day</h2>
                                            <br />
                                            <span class="badge">@cell.Count</span>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    if (cell.Count == 0)
                                    {
                                        <td>
                                            <a alt="">
                                                <div style="height: 150px; width: 150px; max-width: 150px; max-height: 150px; vertical-align: middle" class="text-center btn btn-default">
                                                    <span class="glyphicon" aria-hidden="true"></span> <h2>@cell.Day</h2>
                                                    <br />
                                                    <span class="badge">@cell.Count</span>
                                                </div>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        if (cell.Count < 2)
                                        {
                                            <td>
                                                <a href="@Url.Action("Step3", new
                                                         {
                                                             Token = Model.Token,
                                                             SexId = Model.SexId,
                                                             SectionProfileId = Model.SectionProfileId,
                                                             CurrentHospitalId = Model.CurrentHospitalId,
                                                             Date = cell.Date
                                                         })" alt="">
                                                    <div style="height: 150px; width: 150px; max-width: 150px; max-height: 150px; vertical-align: middle" class="text-center btn btn-danger">
                                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <h2>@cell.Day</h2>
                                                        <br/>
                                                        <span class="badge">@cell.Count</span>
                                                    </div>
                                                </a>
                                            </td>
                                        }
                                        else if (cell.Count < 5)
                                        {
                                            <td>
                                                <a href="@Url.Action("Step3", new
                                                         {
                                                             Token = Model.Token,
                                                             SexId = Model.SexId,
                                                             SectionProfileId = Model.SectionProfileId,
                                                             CurrentHospitalId = Model.CurrentHospitalId,
                                                             Date = cell.Date
                                                         })" alt="">
                                                    <div style="height: 150px; width: 150px; max-width: 150px; max-height: 150px; vertical-align: middle" class="text-center btn btn-warning">
                                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <h2>@cell.Day</h2>
                                                        <br />
                                                        <span class="badge">@cell.Count</span>
                                                    </div>
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a href="@Url.Action("Step3", new
                                                         {
                                                             Token = Model.Token,
                                                             SexId = Model.SexId,
                                                             SectionProfileId = Model.SectionProfileId,
                                                             CurrentHospitalId = Model.CurrentHospitalId,
                                                             Date = cell.Date
                                                         })" alt="">
                                                    <div style="height: 150px; width: 150px; max-width: 150px; max-height: 150px; vertical-align: middle" class="text-center btn btn-success">
                                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <h2>@cell.Day</h2>
                                                        <br/>
                                                        <span class="badge">@cell.Count</span>
                                                    </div>
                                                </a>
                                            </td>
                                        }
                                    }
                                }
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
