
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Resources
@model ServiceModels.ServiceCommandAnswers.NoticesCommandAnswers.GetHospitalNoticesMessageInformationCommandAnswer

@Html.WriteTitlePage(@MainResources.PageSendNoticesPageTitle, "h2")
@using (Html.BeginForm("SendMessages", "HospitalUserSendDistributiveMessagesPage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(command => command.Token);

    <div class="form-group">
        <label for="Title">@MainResources.PageSendNoticesTheme</label>
        <textarea class="form-control" rows="1" id="Title" name="Title"></textarea>
        <label for="Text">@MainResources.PageSendNoticesText</label>
        <textarea class="form-control" rows="10" id="Text" name="Text"></textarea>
        <input class="btn btn-sm btn-primary" type="submit" />
    </div>
}

