
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Resources
@model ServiceModels.ServiceCommandAnswers.NoticesCommandAnswers.GetHospitalNoticesMessageInformationCommandAnswer

@Html.WriteTitlePage(@MainResources.PageSendNoticesPageTitle, "h2")
@using (Html.BeginForm("SendMessages", "HospitalUserSendDistributiveMessagesPage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(command => command.Token);

    <div class="form-group">
        @Html.LabelFor(o => o.Title):
        @Html.TextAreaFor(o => o.Title, new {@class = "form-control", @rows = "1"})
        @Html.LabelFor(o => o.Text):
        @Html.TextAreaFor(o => o.Text, new { @class = "form-control", @rows = "10" })
        <input class="btn btn-sm btn-primary" type="submit" />
    </div>
}

