
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Resources
@model ServiceModels.ServiceCommandAnswers.NoticesCommandAnswers.GetHospitalNoticesMessageInformationCommandAnswer

@Html.WriteTitlePage(@MainResources.PageSendNoticesPageTitle, "h2")

@if (ViewBag.Errors != null)
{
    var errors = ViewBag.Errors as List<ServiceModels.ModelTools.CommandAnswerError>;
    if (errors.Any())
    {
        foreach (var error in errors)
        {
            <div class="alert-warning alert"> @error.FieldName : @error.Title </div>
        }
    }
}

@using (Html.BeginForm("SendMessages", "HospitalUserSendDistributiveMessagesPage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(command => command.Token);

    <div class="form-group">
        Заголовок:
        @Html.TextAreaFor(o => o.Title, new {@class = "form-control", @rows = "1"})
        Сообщение:
        @Html.TextAreaFor(o => o.Text, new { @class = "form-control", @rows = "10" })
        <input class="btn btn-sm btn-primary" type="submit" />
    </div>
}

